body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e68b14;
    padding: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.image-item {
    text-align: center;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#resultMessage {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: red;
}

#nextPageBtn {
    margin-top: 20px;
    font-size: 16px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .image {
        width: 80px;
        height: 80px;
    }

    button {
        font-size: 14px;
    }
}
